In [1]:
import pandas as pd
import numpy as np
from numpy import nan as NA
import matplotlib.pyplot as plt
import datetime as dt
import yfinance as yf

In [2]:
from jupyterthemes import jtplot
jtplot.style(theme='onedork', figsize=(12, 9))

In [48]:
# start = dt.datetime(2023, 4, 15)

# crypto_df = yf.download(['BTC-USD', 'ETH-USD'], start, None, interval='5m')
# curr_df = yf.download(['CHF=X', 'EURUSD=X'], start, None, interval='5m')

In [39]:
curr_df = pd.read_csv('CHF=X_EURUSD=X_2023-4-15_5m.csv', header=[0,1], index_col=[0], parse_dates=True)
curr_df

                          Adj Close              Close               High  \
                              CHF=X  EURUSD=X    CHF=X  EURUSD=X    CHF=X
Datetime
2023-04-17 00:00:00+01:00   0.89456  1.099264  0.89456  1.099264  0.89481
2023-04-17 00:05:00+01:00   0.89470  1.099022  0.89470  1.099022  0.89480
2023-04-17 00:10:00+01:00   0.89460  1.099022  0.89460  1.099022  0.89482
2023-04-17 00:15:00+01:00   0.89470  1.099143  0.89470  1.099143  0.89480
2023-04-17 00:20:00+01:00   0.89467  1.099143  0.89467  1.099143  0.89481
...                             ...       ...      ...       ...      ...
2023-05-05 22:05:00+01:00       NaN  1.102293      NaN  1.102293      NaN
2023-05-05 22:10:00+01:00       NaN  1.102293      NaN  1.102293      NaN
2023-05-05 22:15:00+01:00       NaN  1.102293      NaN  1.102293      NaN
2023-05-05 22:20:00+01:00       NaN  1.102293      NaN  1.102293      NaN
2023-05-05 22:25:00+01:00       NaN  1.102293      NaN  1.102293      NaN

                                         Low               Open            \
                           EURUSD=X    CHF=X  EURUSD=X    CHF=X  EURUSD=X
Datetime
2023-04-17 00:00:00+01:00  1.099264  0.89449  1.099022  0.89479  1.099143
2023-04-17 00:05:00+01:00  1.099505  0.89440  1.099022  0.89450  1.099505
2023-04-17 00:10:00+01:00  1.099264  0.89460  1.098901  0.89470  1.099264
2023-04-17 00:15:00+01:00  1.099143  0.89450  1.098780  0.89468  1.099143
2023-04-17 00:20:00+01:00  1.099384  0.89460  1.098780  0.89470  1.099143
...                             ...      ...       ...      ...       ...
2023-05-05 22:05:00+01:00  1.102293      NaN  1.102293      NaN  1.102293
2023-05-05 22:10:00+01:00  1.102293      NaN  1.102293      NaN  1.102293
2023-05-05 22:15:00+01:00  1.102293      NaN  1.102293      NaN  1.102293
2023-05-05 22:20:00+01:00  1.102293      NaN  1.102293      NaN  1.102293
2023-05-05 22:25:00+01:00  1.102293      NaN  1.102293      NaN  1.102293

                          Volume
                           CHF=X EURUSD=X
Datetime
2023-04-17 00:00:00+01:00    0.0        0
2023-04-17 00:05:00+01:00    0.0        0
2023-04-17 00:10:00+01:00    0.0        0
2023-04-17 00:15:00+01:00    0.0        0
2023-04-17 00:20:00+01:00    0.0        0
...                          ...      ...
2023-05-05 22:05:00+01:00    NaN        0
2023-05-05 22:10:00+01:00    NaN        0
2023-05-05 22:15:00+01:00    NaN        0
2023-05-05 22:20:00+01:00    NaN        0
2023-05-05 22:25:00+01:00    NaN        0

[4266 rows x 12 columns]

In [40]:
curr_df.dropna(inplace=True)

In [41]:
curr_df

                          Adj Close              Close               High  \
                              CHF=X  EURUSD=X    CHF=X  EURUSD=X    CHF=X
Datetime
2023-04-17 00:00:00+01:00   0.89456  1.099264  0.89456  1.099264  0.89481
2023-04-17 00:05:00+01:00   0.89470  1.099022  0.89470  1.099022  0.89480
2023-04-17 00:10:00+01:00   0.89460  1.099022  0.89460  1.099022  0.89482
2023-04-17 00:15:00+01:00   0.89470  1.099143  0.89470  1.099143  0.89480
2023-04-17 00:20:00+01:00   0.89467  1.099143  0.89467  1.099143  0.89481
...                             ...       ...      ...       ...      ...
2023-05-05 21:40:00+01:00   0.89039  1.102171  0.89039  1.102171  0.89045
2023-05-05 21:45:00+01:00   0.89039  1.102293  0.89039  1.102293  0.89045
2023-05-05 21:50:00+01:00   0.89046  1.102293  0.89046  1.102293  0.89052
2023-05-05 21:55:00+01:00   0.89001  1.102050  0.89001  1.102050  0.89080
2023-05-05 22:00:00+01:00   0.89025  1.102293  0.89025  1.102293  0.89025

                                         Low               Open            \
                           EURUSD=X    CHF=X  EURUSD=X    CHF=X  EURUSD=X
Datetime
2023-04-17 00:00:00+01:00  1.099264  0.89449  1.099022  0.89479  1.099143
2023-04-17 00:05:00+01:00  1.099505  0.89440  1.099022  0.89450  1.099505
2023-04-17 00:10:00+01:00  1.099264  0.89460  1.098901  0.89470  1.099264
2023-04-17 00:15:00+01:00  1.099143  0.89450  1.098780  0.89468  1.099143
2023-04-17 00:20:00+01:00  1.099384  0.89460  1.098780  0.89470  1.099143
...                             ...      ...       ...      ...       ...
2023-05-05 21:40:00+01:00  1.102293  0.89034  1.102171  0.89039  1.102293
2023-05-05 21:45:00+01:00  1.102293  0.89031  1.102171  0.89040  1.102293
2023-05-05 21:50:00+01:00  1.102293  0.89032  1.102171  0.89039  1.102171
2023-05-05 21:55:00+01:00  1.102293  0.89000  1.102050  0.89048  1.102293
2023-05-05 22:00:00+01:00  1.102293  0.89025  1.102293  0.89025  1.102293

                          Volume
                           CHF=X EURUSD=X
Datetime
2023-04-17 00:00:00+01:00    0.0        0
2023-04-17 00:05:00+01:00    0.0        0
2023-04-17 00:10:00+01:00    0.0        0
2023-04-17 00:15:00+01:00    0.0        0
2023-04-17 00:20:00+01:00    0.0        0
...                          ...      ...
2023-05-05 21:40:00+01:00    0.0        0
2023-05-05 21:45:00+01:00    0.0        0
2023-05-05 21:50:00+01:00    0.0        0
2023-05-05 21:55:00+01:00    0.0        0
2023-05-05 22:00:00+01:00    0.0        0

[4249 rows x 12 columns]

In [42]:
crypto_df = pd.read_csv('BTC-USD_ETH-USD_2023-4-15_5m.csv', header=[0,1], index_col=[0], parse_dates=True)
crypto_df

                              Adj Close                      Close  \
                                BTC-USD      ETH-USD       BTC-USD
Datetime
2023-04-15 00:00:00+00:00  30480.996094  2100.147461  30480.996094
2023-04-15 00:05:00+00:00  30460.123047  2096.448486  30460.123047
2023-04-15 00:10:00+00:00  30472.021484  2098.086426  30472.021484
2023-04-15 00:15:00+00:00  30470.113281  2098.278564  30470.113281
2023-04-15 00:20:00+00:00  30510.152344  2101.131104  30510.152344
...                                 ...          ...           ...
2023-05-07 15:35:00+00:00  28974.375000  1920.604858  28974.375000
2023-05-07 15:40:00+00:00  28963.484375  1920.774414  28963.484375
2023-05-07 15:45:00+00:00  28992.060547  1922.698730  28992.060547
2023-05-07 15:50:00+00:00  29029.312500  1924.496216  29029.312500
2023-05-07 15:55:00+00:00  29006.119141  1922.189209  29006.119141

                                                High               \
                               ETH-USD       BTC-USD      ETH-USD
Datetime
2023-04-15 00:00:00+00:00  2100.147461  30491.595703  2101.949463
2023-04-15 00:05:00+00:00  2096.448486  30490.123047  2099.500244
2023-04-15 00:10:00+00:00  2098.086426  30474.234375  2098.091064
2023-04-15 00:15:00+00:00  2098.278564  30475.455078  2098.599609
2023-04-15 00:20:00+00:00  2101.131104  30510.152344  2101.131104
...                                ...           ...          ...
2023-05-07 15:35:00+00:00  1920.604858  28982.966797  1921.655640
2023-05-07 15:40:00+00:00  1920.774414  28983.212891  1921.953125
2023-05-07 15:45:00+00:00  1922.698730  28992.060547  1922.698730
2023-05-07 15:50:00+00:00  1924.496216  29029.312500  1924.496216
2023-05-07 15:55:00+00:00  1922.189209  29020.441406  1923.901123

                                    Low                       Open  \
                                BTC-USD      ETH-USD       BTC-USD
Datetime
2023-04-15 00:00:00+00:00  30480.996094  2100.147461  30490.750000
2023-04-15 00:05:00+00:00  30460.123047  2096.448486  30478.814453
2023-04-15 00:10:00+00:00  30453.552734  2096.598877  30455.914062
2023-04-15 00:15:00+00:00  30460.046875  2097.293701  30469.496094
2023-04-15 00:20:00+00:00  30470.109375  2098.273438  30470.109375
...                                 ...          ...           ...
2023-05-07 15:35:00+00:00  28960.060547  1919.133667  28960.060547
2023-05-07 15:40:00+00:00  28962.416016  1920.774414  28983.212891
2023-05-07 15:45:00+00:00  28967.183594  1921.206787  28968.783203
2023-05-07 15:50:00+00:00  28991.503906  1922.433960  28991.503906
2023-05-07 15:55:00+00:00  29006.119141  1922.189209  29020.062500

                                          Volume
                               ETH-USD   BTC-USD   ETH-USD
Datetime
2023-04-15 00:00:00+00:00  2101.616455         0         0
2023-04-15 00:05:00+00:00  2097.876465         0         0
2023-04-15 00:10:00+00:00  2096.772217  12341248  10652672
2023-04-15 00:15:00+00:00  2097.684082         0  13334528
2023-04-15 00:20:00+00:00  2098.273438  18935808   9414656
...                                ...       ...       ...
2023-05-07 15:35:00+00:00  1919.133667         0         0
2023-05-07 15:40:00+00:00  1921.502930         0         0
2023-05-07 15:45:00+00:00  1921.206787         0         0
2023-05-07 15:50:00+00:00  1922.433960   1853440   1011200
2023-05-07 15:55:00+00:00  1923.781738   3859456         0

[5873 rows x 12 columns]

In [43]:
curr_df.isna().sum()

Adj Close  CHF=X       0
           EURUSD=X    0
Close      CHF=X       0
           EURUSD=X    0
High       CHF=X       0
           EURUSD=X    0
Low        CHF=X       0
           EURUSD=X    0
Open       CHF=X       0
           EURUSD=X    0
Volume     CHF=X       0
           EURUSD=X    0
dtype: int64

In [63]:
curr_04_17 = curr_df.loc['2023-04-17', ['Close']]
curr_04_17.shape

(288, 2)

In [64]:
crypto_04_17 = crypto_df.loc['2023-04-17', ['Close']]
crypto_04_17.shape

(288, 2)

In [59]:
merge = pd.merge(curr_04_17, crypto_04_17, how='inner', left_index=True, right_index=True)
merge

                             Close
                             CHF=X  EURUSD=X       BTC-USD      ETH-USD
Datetime
2023-04-17 00:00:00+00:00  0.89490  1.098780  30308.564453  2118.609375
2023-04-17 00:05:00+00:00  0.89510  1.098539  30301.144531  2117.808594
2023-04-17 00:10:00+00:00  0.89480  1.098780  30317.535156  2120.113525
2023-04-17 00:15:00+00:00  0.89470  1.099022  30256.009766  2111.195557
2023-04-17 00:20:00+00:00  0.89466  1.099384  30257.095703  2111.685303
...                            ...       ...           ...          ...
2023-04-17 22:35:00+00:00  0.89858  1.093135  29536.273438  2082.637451
2023-04-17 22:40:00+00:00  0.89854  1.093016  29537.982422  2083.644043
2023-04-17 22:45:00+00:00  0.89862  1.092777  29530.826172  2082.016602
2023-04-17 22:50:00+00:00  0.89860  1.092777  29523.138672  2081.725830
2023-04-17 22:55:00+00:00  0.89860  1.092777  29499.320312  2079.142334

[276 rows x 4 columns]