In [37]:
import pandas as pd
import numpy as np

from scipy.stats import ttest_1samp

from sklearn.preprocessing import MinMaxScaler

import matplotlib.pyplot as plt
import seaborn as sns

jtplot.style(figsize=(15, 9))

In [16]:
df = pd.read_csv('../data/bt/MSFT_NVDA_AMD_META__1H.csv', parse_dates=True, index_col=0, header=[0, 1])
df.dropna(inplace=True)
df.head()

           Close                                  High                        \
             AMD       META       MSFT      NVDA   AMD       META       MSFT
Date
2012-05-18  6.01  38.115242  23.443840  0.276979  6.29  44.864921  23.876353
2012-05-21  6.30  33.927845  23.828299  0.281794  6.34  36.549951  23.860337
2012-05-22  6.16  30.906942  23.836304  0.278355  6.27  33.489168  23.932417
2012-05-23  6.08  31.903942  23.315693  0.285233  6.08  32.402441  23.547968
2012-05-24  6.02  32.930851  23.283649  0.277667  6.10  33.110311  23.467868

                       Low                                  Open             \
                NVDA   AMD       META       MSFT      NVDA   AMD       META
Date
2012-05-18  0.292112  6.00  37.885933  23.363745  0.275603  6.19  41.923775
2012-05-21  0.283170  6.06  32.900938  23.275642  0.275603  6.10  36.420340
2012-05-22  0.282023  6.08  30.847123  23.628056  0.274227  6.17  32.512110
2012-05-23  0.285692  5.89  31.265864  22.939245  0.271247  5.98  31.275834
2012-05-24  0.287297  5.96  31.674635  23.035355  0.275603  6.09  32.851093

                                   Volume
                 MSFT      NVDA       AMD         META      MSFT       NVDA
Date
2012-05-18  23.860335  0.290736  14979900  573576400.0  56205300  567288000
2012-05-21  23.307681  0.277437  16378200  168192700.0  38787900  416260000
2012-05-22  23.780237  0.281565  12600900  101786600.0  39504900  410140000
2012-05-23  23.507921  0.275374  19700000   73600000.0  65171000  496000000
2012-05-24  23.355735  0.286838   9713100   50237200.0  52575000  520420000

In [23]:
data = df['Close'].copy()
data.head()

             AMD       META       MSFT      NVDA
Date
2012-05-18  6.01  38.115242  23.443840  0.276979
2012-05-21  6.30  33.927845  23.828299  0.281794
2012-05-22  6.16  30.906942  23.836304  0.278355
2012-05-23  6.08  31.903942  23.315693  0.285233
2012-05-24  6.02  32.930851  23.283649  0.277667

In [30]:
scaler = MinMaxScaler()
scaler = scaler.fit(data)

In [31]:
scale = pd.DataFrame(data=scaler.transform(data), columns=data.columns, index=data.index)
scale.head()

                 AMD      META      MSFT      NVDA
Date
2012-05-18  0.045969  0.071633  0.009924  0.001125
2012-05-21  0.049005  0.056957  0.011824  0.001463
2012-05-22  0.047539  0.046369  0.011864  0.001222
2012-05-23  0.046702  0.049864  0.009291  0.001704
2012-05-24  0.046073  0.053463  0.009133  0.001174

In [44]:
mu = scale['AMD'].mean()

for sample in scale.columns:
    if sample != 'AMD':
        stat, pval = ttest_1samp(scale[sample], mu)
        print(f'AMD and {sample}: {round(stat, 5)}, {pval}')

AMD and META: 42.28851, 1.7009122378316747e-285
AMD and MSFT: 18.94181, 3.626159962579033e-74
AMD and NVDA: 8.32122, 1.5196086718369126e-16